*{
    text-align: center;
}

.fotoCar{
    height: 600px;
    width: 100%;
}

.tarjetas{
    margin: 50px 0px;
}

.card{
    margin: 20px;
}

.fotoCard {
    height: 400px;
}

footer{
    border: 1px solid black;
}


.tarjetaHipo{
    height: 800px;
}

.fotosRedes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fotoRed{
    width: 80%;
}

.botonFooter{
    width: 20%;
    border-radius: 10px;
    color: black;
    background-color:  rgb(61, 151, 224);
    box-shadow: -2px 2px rgb(55, 51, 51);
}

footer p{
    font-size: 20px;
    font-weight: bold;
}

.colorFuente{
    color: rgb(61, 151, 224);
}

.tituloDom{
    font-size: 24px;
    
}

.subDom{
    font-size: 18px;
}

.anchoTarjeta{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.forMap{
    margin: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.campoFormulario{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(61, 151, 224);
    border: 2px solid black;   
}

.campoFormulario::placeholder {
    color: white;
}

.botonEnviar{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selector{
    height: 40px;
    margin-bottom: 20px;
}
.selector::placeholder {
    color: white;
}